@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'Internship';
@import 'Company';
@import 'Majeure';
@import 'International';
@import 'Profil';

.Header{
}



$grid-column-gutter: (
  small: 20px,
  medium: 60px,
);

.TitleAndLineMargin{
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px solid $site-color-header;
}

.Tag-Box{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: static;
}

.Tag{
  position: static;
  color: $white;
  width: auto;
  max-width: 30%;
  height: 12px;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  margin: 0;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: hidden;
}

.Tag_Post{
  position: static;
  color: $white;
  width: 15%;
  height: 12px;
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  margin: 0;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: hidden;
}

.Pinned-Link{
  color: $site-color-header;
  text-align: right;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 200;
  padding-right: 4%;
  margin-bottom: 5px;
}

.Pinned-Link:hover{
  color: #666;
}

.Pinned{
  background-color: $site-color-back;
  height: 50px;
  margin: 0;
  padding: 0;
  border-radius: 7px 0 0 7px;
}

.Top_Nav{
  margin-bottom: 20px;
  background-color: $site-color-header;
}

.Top_Nav_Center{
  margin-top: 5px;
}

.Top_Text{
  font-size: 33px;
  color: $white;
  margin: 0;
  margin-top: 15px;
  line-height: normal;
}

.Top_Text_Under{
  font-size: 25px;
  color: $white;
  line-height: normal;
  margin: 0;
  margin-bottom: 15px;
}

.Box{
  background-color: $white;
  border: 1px solid $site-color-gray-box;
}

.Box_BorderLess{
  background-color: $site-color-back;
  border: 0px;
}

#ImgBox{
  position: fixed;
  background: $site-color-Img;
  width: 200px;
  height: 150px;
  margin: 1%;
  display: flex;
  align-item: center;
  padding: 0;
  border: 1px solid $site-color-gray-box;
}

#ImgBox_Resize{
  width: auto;
  height: auto;
  max-height: 148px;
  margin:auto;
  display: block;
}

#TopImg{
  position: absolute;
  width: 200px;
  height: 150px;
  margin: 1%;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

#TopImg_Resize{
  position: relative;
  left: 100%;
  margin-left: -200%;
}

.Profil_Round{
  border-radius: 50%;
  overflow: hidden;
  width: 38px;
  height: 38px;
  margin: 5%;
}

.Profil_Round_Img{
  width: 100%;
  height: auto;
}

#Unboxing{
  border: 0px;
  background-color: $site-color-back;
}

.Link:hover{
  text-decoration: underline;
}

.Left_Nav{
  margin-top: 50px;
}

.Center_Nav{
  margin-top: 50px;
}

.Right_Nav{
  margin-top: 50px;
}

.Description_Text{
  font-size: 16px;
  color: $black;
  margin-left: 4%;
  margin-right: 4%;
  text-align: justify;
  margin-top: 15px;
}

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-progress-element;
@include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
