.Company_Text{
  margin: 0;
  margin-right: 5%;
  font-size: 12px;
  color: $black;
}

.Company_Text_Name{
  font-size: 33px;
  color: $site-color-header;
  margin-top: 15px;
  line-height: normal;
}

.Company_Text_Type{
  font-size: 20px;
  color: $black;
}

.Company_Text_Description{
  font-size: 14px;
  color: $black;
  border-top: 1px solid $site-color-gray-box;
  padding-top: 5px;
}

.Company_TotalRate{
  background-color: $white;
  border: 1px solid $site-color-gray-box;
  color: $site-color-header;
  font-size: 16px;
}

.Company_Rate{
  border-top: 1px solid $site-color-gray-box;
  border-bottom: 1px solid $site-color-gray-box;
  color: $black;
  font-size: 16px;
  margin-top: 10px;
}

.Company_Interns{
  background-color: $white;
  border: 1px solid $site-color-gray-box;
}

.Company_Interns_Current{
  color: $site-color-header;
  font-size: 14px;
}

.Company_Offers_Name{
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  color: $site-color-header;
}

.Company_Offers_CompanyName{
  margin: 0;
  font-size: 25px;
  line-height: normal;
  font-weight: 600;
  color: $site-color-header;
}

.Company_Offers_Text{
  margin: 0;
  font-size: 18px;
  line-height: normal;
  color: $black;
}


.Company_Feedback_Text{
  margin: 0;
  font-size: 22px;
  line-height: normal;
  color: $black;
  margin-left: 2%;
  margin-top: 5px;
  font-weight: bold;
}

.Company_Feedback_Nb{
  margin: 0;
  font-size: 15px;
  line-height: normal;
  color: $site-color-gray-text;
  margin-left: 5%;
}

.Company_Feedback_Rate{
  margin: 0;
  font-size: 1.5rem;
  line-height: normal;
  color: $site-color-header;
  font-weight: bold;
  margin-top: 7px;
}

.Company_Feedback_Name{
  margin: 0;
  font-size: 18px;
  line-height: normal;
  color: $site-color-header;
  margin-top: 10px;
  font-weight: 600;
}

.Company_Feedback_AllFeedback{
  margin: 0;
  font-size: 14px;
  line-height: normal;
  color: $black;
  margin-top: 10px;
}

.Company_Feedback_Link{
  margin: 0;
  font-size: 14px;
  line-height: normal;
  color: $site-color-header;
  margin-top: 10px;
  text-align: right;
  text-decoration: underline;
}
