@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-Bk.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-BkObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: bold;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-Bold.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: bold;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-BoldObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-stretch: condensed;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-BkCn.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-stretch: condensed;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-BkCnObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-stretch: condensed;
	font-weight: bold;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-BoldCn.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-stretch: condensed;
	font-weight: bold;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-BoldCnObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 600;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-Demi.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 600;
	font-stretch: condensed;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-DemiCn.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-DemiCnObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 600;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-DemiObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 600;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-DemiObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 500;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-Md.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 500;
	font-stretch: condensed;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-MdCn.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-MdCnObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 500;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-MdObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 200;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-XLt.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 200;
	font-stretch: condensed;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-XLtCn.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 200;
	font-stretch: condensed;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-XLtCnObl.otf');
}

@font-face
{
	font-family: "ITC Avant Garde Gothic Std";
	font-weight: 200;
	font-style: oblique;
	src: url('/home/gildas/Documents/prog/web/MyCampusMVP/ITC Avant Garde Gothic Std/ITCAvantGardeStd-XLtObl.otf');
}
