.International_Popular{
  border-top: 1px solid $site-color-gray-box;
  padding-top: 5px;
}

.International_Popular_Name{
  font-size: 1.1vw;
  color: $black;
  margin: 0;
  margin-top: 5px;
}

.International_Popular_Rate{
  font-size: 1.4vw;
  color: $site-color-header;
  margin: 0;
  margin-top: 3px;
}

.International_Feedback_Type{
  font-size: 18px;
  color: $site-color-gray-text;
  margin: 0;
  margin-top: 5px;
  text-align: center;
}
