.Majeur_Text{
  margin: 0;
  margin-right: 5%;
  font-size: 12px;
  color: $black;
}

.Majeur_Text_Name{
  font-size: 33px;
  color: $site-color-header;
  margin-top: 15px;
  line-height: normal;
}

.Majeur_Text_Type{
  font-size: 20px;
  color: $black;
  border-bottom: 1px solid grey;
}

.Majeur_Text_Description{
  font-size: 16px;
  color: grey;
  padding-top: 5px;
}

.Majeur_TotalRate{
  background-color: $white;
  border: 1px solid grey;
  color: $site-color-header;
  font-size: 16px;
}

.Majeur_Rate{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color: $black;
  font-size: 16px;
  margin-top: 10px;
}

.Majeur_Interns{
  background-color: $white;
  border: 1px solid grey;
}

.Majeur_Interns_Current{
  color: $site-color-header;
  font-size: 14px;
}

.Majeur_Offers_Name{
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  color: $site-color-header;
}

.Majeur_Offers_MajeurName{
  margin: 0;
  font-size: 25px;
  line-height: normal;
  font-weight: 600;
  color: $site-color-header;
}

.Majeur_Offers_Text{
  margin: 0;
  font-size: 18px;
  line-height: normal;
  color: $black;
}


.Majeur_Feedback_Text{
  margin: 0;
  font-size: 20px;
  line-height: normal;
  color: $black;
  margin-left: 5%;
  font-weight: bold;
}

.Majeur_Feedback_Nb{
  margin: 0;
  font-size: 15px;
  line-height: normal;
  color: grey;
  margin-left: 5%;
}

.Majeur_Feedback_Rate{
  margin: 0;
  font-size: 20px;
  line-height: normal;
  color: $site-color-header;
  font-weight: bold;
  margin-top: 7px;
}

.Majeur_Feedback_Name{
  margin: 0;
  font-size: 16px;
  line-height: normal;
  color: $site-color-header;
  margin-top: 10px;
  font-weight: 600;
}

.Majeur_Feedback_AllFeedback{
  margin: 0;
  font-size: 14px;
  line-height: normal;
  color: $black;
  margin-top: 10px;
}

.Majeur_Feedback_Link{
  margin: 0;
  font-size: 14px;
  line-height: normal;
  color: $site-color-header;
  margin-top: 10px;
  text-align: right;
  text-decoration: underline;
}

.Majeur_Back{
  font-size: 16px;
  color: $black;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  margin-right: 2px;
}

.Majeur_Description
{
  border: 0px;
  margin: 0;
  padding: 0;
  height: 119px;
  overflow: hidden;
  padding-top: 10px;
  line-height: 1.6;
  color: $black
}

.Majeur_Description_Plus{
  color: $site-color-header;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-left: 80%;
}


#Description:target
{
	height: auto;
  padding-bottom: 10px;
}

.Majeur_Description_Plus:visited
{
  visibility: hidden;
}

.Majeur_Badge_Desactivate{
  margin: 0;
  font-size: 20px;
  color: grey;
  width: auto;
}

.Majeur_Badge_Activate{
  margin: 0;
  font-size: 20px;
  color: $black;
  width: auto;
}

.Majeur_Badge_Param{
  width: 25px;
  height: 25px;
  font-size: 25px;
  margin: 0;
  margin-top: 3px;
  margin-left: 4%;
  margin-right: 5px;
}

.Majeur_Badge_Text{
  font-size: 15px;
  margin: 0;
  line-height: 20px;
  font-weight: bold;
}
