<div class="row Majeur_TotalRate Box_BorderLess">
  <div class="medium-8 Majeur_OverallRate">
    Overall Ratings
  </div>
  <div class="medium-1 Majeur_OverallRate" style="margin-left: 15px;">
    3.3
  </div>
</div>
<div class="row Majeur_Rate">
  <div class="medium-8 Majeur_Rate_Text">
    Quality of class
  </div>
  <div class="medium-1 Majeur_Rate_Nb">
    3.3
  </div>
  <div class="medium-8 Majeur_Rate_Text">
    Quality of class
  </div>
  <div class="medium-1 Majeur_Rate_Nb">
    3.3
  </div>
  <div class="medium-8 Majeur_Rate_Text">
    Quality of class
  </div>
  <div class="medium-1 Majeur_Rate_Nb">
    3.3
  </div>
  <div class="medium-8 Majeur_Rate_Text">
    Quality of class
  </div>
  <div class="medium-1 Majeur_Rate_Nb">
    3.3
  </div>
</div>



<!-- Il faudra valider une condition pour mettre ce bout de code -->
<!-- Car il ne sera que sur certaine page et pas d'autre -->
<!-- before backto block -->
{% block backto %}
  <!-- backto block not replaced -->
  <!-- before include backto -->
  {% include "backto.html" %}
  <!-- after include backto -->
{% endblock backto %}
<!-- after backto block -->
