<div class="row Company_TotalRate">
  <div class="medium-8 " style="margin: 5px; font-size: 1.5 vw;">
    Overall Ratings
  </div>
  <div class="medium-1 " style="margin: 5px; font-weight: bold; margin-left: 15px;">
    3.3
  </div>
</div>
<div class="row Company_Rate">
  <div class="medium-8 " style="margin: 5px;">
    Quality of class
  </div>
  <div class="medium-1 " style="margin: 5px; margin-left: 15px;">
    3.3
  </div>
  <div class="medium-8 " style="margin: 5px;">
    Quality of class
  </div>
  <div class="medium-1 " style="margin: 5px; margin-left: 15px;">
    3.3
  </div>
  <div class="medium-8 " style="margin: 5px;">
    Quality of class
  </div>
  <div class="medium-1 " style="margin: 5px; margin-left: 15px;">
    3.3
  </div>
  <div class="medium-8 " style="margin: 5px;">
    Quality of class
  </div>
  <div class="medium-1 " style="margin: 5px; margin-left: 15px;">
    3.3
  </div>
</div>



<!-- Il faudra valider une condition pour mettre ce bout de code -->
<!-- Car il ne sera que sur certaine page et pas d'autre -->
<!-- before backto block -->
{% block backto %}
  <!-- backto block not replaced -->
  <!-- before include backto -->
  {% include "backto.html" %}
  <!-- after include backto -->
{% endblock backto %}
<!-- after backto block -->
