<div class="row Company_Interns">
  <p class="InternshipSearch_Title TitleAndLineMargin medium-11" style="font-size: 20px;">Company interns</p>
  <div class="Company_Interns_Current">
    <p style="margin: 5px; margin-left: 15px;">Current</p>
      <!-- boucle student profil 3 au max -->
      {% for profile in profiles and (moins de 3) %}
             {% include "right_content_profil.html" %}
      {% endfor %}


    <p style="margin: 5px; margin-left: 15px;">Former</p>
      <!-- boucle former profil 2 max-->

      {% for profile in profiles and (moins de 2) %}
             {% include "right_content_formerprofil.html" %}
      {% endfor %}
      
  </div>
</div>
